body {
    font-family: Arial, sans-serif;
   
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin: 1px auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
}

h2 {
    color: #333;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;

    /* 테두리 스타일 제거 */
    border: none;

    /* 둥근 테두리 설정 */
    border-radius: 8px;
}

.normal-member {
    background-color: #9dea73;
    color: #fff;
}

.corporate-member {
    background-color: #AC10D3;
    color: #fff;
}

.description {
    flex-grow: 0.1; /* 오른쪽에 공간을 차지하도록 설정 */
    text-align: left;
    padding-left: 20px; /* 오른쪽 여백을 설정하여 내용을 가운데 정렬하지 않게 함 */
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}
.css-1k8svhy {
    width: 100%; /* 이미지를 부모 요소의 너비에 맞게 조정 */
    max-width: 300px; /* 최대 너비를 248px로 제한 */
    height: auto; /* 가로 비율에 맞게 세로 크기 자동 조정 */
    object-fit: contain;
}


