@font-face {
    font-display: swap;
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-weight: 400;
    src: url('https://static.spartacodingclub.kr/static/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff') format('woff'),
        url('https://static.spartacodingclub.kr/static/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.otf') format('otf')
}

@font-face {
    font-display: swap;
    font-family: 'GmarketSans';
    font-weight: 300;
    font-style: normal;
    src: url('https://static.spartacodingclub.kr/static/fonts/GmarketSans/GmarketSansLight.woff2') format("woff2"),
        url('https://static.spartacodingclub.kr/static/fonts/GmarketSans/GmarketSansLight.woff') format("woff");
}

@font-face {
    font-display: swap;
    font-family: 'GmarketSans';
    font-weight: 400;
    font-style: normal;
    src: url('https://static.spartacodingclub.kr/static/fonts/GmarketSans/GmarketSansMedium.woff2') format("woff2"),
        url('https://static.spartacodingclub.kr/static/fonts/GmarketSans/GmarketSansMedium.woff') format("woff");
}

@font-face {
    font-display: swap;
    font-family: 'GmarketSans';
    font-weight: 700;
    font-style: normal;
    src: url('https://static.spartacodingclub.kr/static/fonts/GmarketSans/GmarketSansBold.woff2') format("woff2"),
        url('https://static.spartacodingclub.kr/static/fonts/GmarketSans/GmarketSansBold.woff') format("woff");
}

@font-face {
    font-display: swap;
    font-family: 'Pretendard';
    font-weight: 100;
    font-style: normal;
    src: local(Pretendard Thin), url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-Thin.subset.woff2') format("woff2"),
        url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-Thin.subset.woff') format("woff"),
        url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-Thin.otf');
}

@font-face {
    font-display: swap;
    font-family: 'Pretendard';
    font-weight: 200;
    font-style: normal;
    src: local(Pretendard ExtraLight), url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-ExtraLight.subset.woff2') format("woff2"),
        url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-ExtraLight.subset.woff') format("woff"),
        url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-ExtraLight.otf');
}

@font-face {
    font-display: swap;
    font-family: 'Pretendard';
    font-weight: 300;
    font-style: normal;
    src: local(Pretendard Light), url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-Light.subset.woff2') format("woff2"),
        url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-Light.subset.woff') format("woff"),
        url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-Light.otf');
}

@font-face {
    font-display: swap;
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: local(Pretendard Regular), url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-Regular.subset.woff2') format("woff2"),
        url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-Regular.subset.woff') format("woff"),
        url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-Regular.otf');
}

@font-face {
    font-display: swap;
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    src: local(Pretendard Medium), url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-Medium.subset.woff2') format("woff2"),
        url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-Medium.subset.woff') format("woff"),
        url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-Medium.otf');
}

@font-face {
    font-display: swap;
    font-family: 'Pretendard';
    font-weight: 600;
    font-style: normal;
    src: local(Pretendard SemiBold), url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-SemiBold.subset.woff2') format("woff2"),
        url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-SemiBold.subset.woff') format("woff"),
        url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-SemiBold.otf');
}

@font-face {
    font-display: swap;
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src: local(Pretendard Bold), url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-Bold.subset.woff2') format("woff2"),
        url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-Bold.subset.woff') format("woff"),
        url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-Bold.otf');
}

@font-face {
    font-display: swap;
    font-family: 'Pretendard';
    font-weight: 800;
    font-style: normal;
    src: url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-ExtraBold.subset.woff2') format("woff2"),
        url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-ExtraBold.subset.woff') format("woff"),
        url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-ExtraBold.otf');
}

@font-face {
    font-display: swap;
    font-family: 'Pretendard';
    font-weight: 900;
    font-style: normal;
    src: url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-Black.subset.woff2') format("woff2"),
        url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-Black.subset.woff') format("woff"),
        url('https://static.spartacodingclub.kr/static/fonts/Pretendard/Pretendard-Black.otf');
}

@font-face {
    font-display: swap;
    font-family: 'SpoqaHanSans';
    font-weight: 300;
    font-style: normal;
    src: url('https://static.spartacodingclub.kr/static/fonts/SpoqaHanSans/SpoqaHanSans-Light.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'SpoqaHanSans';
    font-weight: 400;
    font-style: normal;
    src: url('https://static.spartacodingclub.kr/static/fonts/SpoqaHanSans/SpoqaHanSans-Regular.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'SpoqaHanSans';
    font-weight: 700;
    font-style: normal;
    src: url('https://static.spartacodingclub.kr/static/fonts/SpoqaHanSans/SpoqaHanSans-Bold.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Cafe24Ohsquare';
    font-weight: 500;
    font-style: normal;
    src: url('https://static.spartacodingclub.kr/static/fonts/Cafe24Ohsquare/Cafe24Ohsquare.woff2') format("woff2"),
        url('https://static.spartacodingclub.kr/static/fonts/Cafe24Ohsquare/Cafe24Ohsquare.woff') format("woff"),
        url('https://static.spartacodingclub.kr/static/fonts/Cafe24Ohsquare/Cafe24Ohsquare.ttf');
}

@font-face {
    font-family: 'NanumHandWritingDaughter';
    font-style: normal;
    font-weight: 400;
    src: url('https://static.spartacodingclub.kr/static/fonts/NanumHandWritingDaughter.subset.woff2') format("woff2");
}

@font-face {
    font-family: 'ThefaceshopInklipquid';
    font-style: normal;
    font-weight: 400;
    src: url('https://static.spartacodingclub.kr/static/fonts/ThefaceshopInklipquid/ThefaceshopInklipquid.woff') format("woff"),
        url('https://static.spartacodingclub.kr/static/fonts/ThefaceshopInklipquid/ThefaceshopInklipquid.ttf');
}

@font-face {
    font-family: 'SbAggroBold';
    font-weight: 700;
    font-style: normal;
    src: url('https://static.spartacodingclub.kr/static/fonts/SbAggro/SB_aggro_bold.woff2') format("woff2"),
        url('https://static.spartacodingclub.kr/static/fonts/SbAggro/SB_aggro_bold.woff') format("woff"),
        url('https://static.spartacodingclub.kr/static/fonts/SbAggro/SB_aggro_bold.ttf');
}

@font-face {
    font-family: 'DungGeunMo';
    font-style: normal;
    font-weight: 400;
    src: url('https://static.spartacodingclub.kr/static/fonts/DungGeunMo/DungGeunMo.woff') format("woff"),
        url('https://static.spartacodingclub.kr/static/fonts/DungGeunMo/DungGeunMo.ttf');
}

@font-face {
    font-family: 'Tmoney RoundWind';
    font-style: normal;
    font-weight: 400;
    src: url('https://static.spartacodingclub.kr/static/fonts/TmoneyRoundWindExtraBold.woff2') format("woff2"),
        url('https://static.spartacodingclub.kr/static/fonts/TmoneyRoundWindExtraBold.ttf');
}

@font-face {
    font-family: 'Cafe24Surround';
    font-style: normal;
    font-weight: 400;
    src: url('https://static.spartacodingclub.kr/static/fonts/Cafe24Ssurround-v2.0.woff2') format("woff2"),
        url('https://static.spartacodingclub.kr/static/fonts/Cafe24Ssurround-v2.0.woff')
}

@font-face {
    font-family: 'EBSHunminjeongeumSBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSHunminjeongeum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dokrip';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Dokrip.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DsDigital';
    src: url('/fonts/DsDigital/DS-DIGIB.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YoonDokrip';
    font-style: normal;
    font-weight: 500;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Dokrip.woff') format('woff'),
    url('https://static.spartacodingclub.kr/static/fonts/YoonDokrip.woff') format('woff'),
    url('https://static.spartacodingclub.kr/static/fonts/YoonDokrip.otf') format('otf');
}

.css-huvhzc {
    width: 250%;
    height: 250%;
}

.css-13fd4ke {
    padding: 12px 0;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: 100%;
}

.css-1jibmi3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4px;
}

.css-16regn8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    font-family: Pretendard, -apple-system, “system-ui”, "Malgun Gothic", "맑은 고딕", sans-serif;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #141617;
    color: #141617;
}

.css-17gywxx {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #141617;
    color: #141617;
    color: #3A3E41;
}

.css-1fgr4mj {
    display: block;
    padding: 32px 0 0 0;
    border: #d7e0e6 solid 1px;
    border-radius: 10px;
    position: absolute;
    top: calc(40px + 0px);
    right: 0;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    z-index: unset;
    width: 282px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: 0px 8px 24px rgba(95, 102, 107, 0.12);
    font-family: "Pretendard";
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.css-1fgr4mj::-webkit-scrollbar {
    display: none;
}

.css-1fgr4mj::after {
    border-color: #ffff transparent;
    border-style: solid;
    border-width: 0 6px 8px 6.5px;
    content: "";
    display: block;
    right: 5%;
    position: absolute;
    top: -7px;
    width: 0;
    z-index: 1;
}

.css-1fgr4mj::before {
    border-color: #d7e0e6 transparent;
    border-style: solid;
    border-width: 0 6px 8px 6.5px;
    content: "";
    display: block;
    right: 5%;
    position: absolute;
    top: -8px;
    width: 0;
    z-index: 0;
}

.css-1bkawov {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 12px;
    gap: 16px;
}

.css-gfzvs2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: Pretendard, -apple-system, “system-ui”, "Malgun Gothic", "맑은 고딕", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #141617;
    text-align: center;
    gap: 24px;
}

.css-gfzvs2::-moz-selection {
    background: rgba(0, 0, 0, 0);
}

.css-gfzvs2::selection {
    background: rgba(0, 0, 0, 0);
}

.css-ss0hg9 {
    width: 100%;
    margin: 0 auto;
}

.css-1o9qtii {
    width: 100%;
    height: 1px;
    background: #E4EBF0;
    margin: 0 0;
}

.css-1s9cv9y {
    padding: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.css-zbmmrt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 16px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
    border-radius: 8px;
    background: #E7F9E7;
    margin-top: 16px;
    cursor: pointer;
}

.css-wwyx62 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 201.5px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 12px;
}

.css-1hq5jbp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 36px;
    height: 36px;
    padding: 5.76px 1.474px 7.103px 1.875px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.css-1bku0gi {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}

.css-1smjha1 {
    font-family: Pretendard;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #141617;
    color: #81898F;
}

.css-3aha2l {
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #141617;
    color: #3A3E41;
}

.css-ik70s9 {
    padding: 8px 0;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: 100%;
}

.css-28a73i {
    color: #5F666B;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    font-family: Pretendard, -apple-system, “system-ui”, "Malgun Gothic", "맑은 고딕", sans-serif;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #141617;
    color: #141617;
}

.css-4l7ba3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #141617;
    color: #141617;
    font-size: 13px;
    font-weight: 500;
    color: #5F666B;
}

@media (min-width: 320px) and (max-width: 819px) {
    .css-gfzvs2 {
        font-size: 16px;
        padding: 0;
    }
}

@media (max-width: 820px) {
    .css-4l7ba3 {
        font-family: Pretendard;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #141617;
        font-size: 13px;
        font-weight: 500;
        color: #5F666B;
    }

    .css-ik70s9:hover {
        color: #e8344e;
    }

    .css-3aha2l {
        font-family: Pretendard;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #141617;
        color: #3A3E41;
    }

    .css-17gywxx {
        font-family: Pretendard;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #141617;
        color: #3A3E41;
    }

    .css-13fd4ke:hover {
        color: #e8344e;
    }

    .css-1fgr4mj {
        width: 100%;
        height: calc(100dvh - 50px - 0px);
        position: fixed;
        top: calc(49px + 0px);
        right: 0;
        background-color: white;
        opacity: 0;
        visibility: hidden;
        z-index: unset;
        overflow: scroll;
        border-radius: 0;
        border: none;
    }

    .css-ss0hg9 {
        width: 250px;
    }

    .css-1s9cv9y {
        padding: 16px 0 0 0;
        gap: 0;
    }

    .css-zbmmrt {
        padding: 12px;
        margin: 16px 0;
    }
}

@media (min-width: 1200px) {
    .css-28a73i {
        height: 24px;
    }

    .css-16regn8 {
        height: 24px;
    }
}