html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-size: 1.4rem;
  box-sizing: border-box;
}

@media screen and (max-width: 320px) {
  body {
      width: 352px;
      box-sizing: content-box;
  }
}

a,
button {
  -webkit-text-decoration: none;
  text-decoration: none;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 600000s 0s, color 600000s 0s;
  transition: background-color 600000s 0s, color 600000s 0s;
}

h1 {
  font-size: 2.4rem;
}

@media (min-width: 1024px) {
  h1 {
      font-size: 4rem;
  }
}

h2 {
  font-size: 2.2rem;
}

@media (min-width: 1024px) {
  h2 {
      font-size: 3.2rem;
  }
}

h3 {
  font-size: 1.8rem;
}

@media (min-width: 1024px) {
  h3 {
      font-size: 2.2rem;
  }
}

h4 {
  font-size: 1.6rem;
}

@media (min-width: 1024px) {
  h4 {
      font-size: 2rem;
  }
}

h5 {
  font-size: 1.4rem;
}

@media (min-width: 1024px) {
  h5 {
      font-size: 1.8rem;
  }
}

h6 {
  font-size: 1.4rem;
}

@media (min-width: 1024px) {
  h6 {
      font-size: 1.4rem;
  }
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}

@media (min-width: 1024px) {
  .mobile-only {
      display: none;
  }
}

* {
  margin: 0;
  line-height: 1.5;
}

@media (max-width: 767px) {
  @supports (-webkit-touch-callout: none) {
      .css-1hnxdb7 {
          height: -webkit-fill-available;
      }
  }
}

@media (max-width: 767px) {
  .css-16z0wya {
      display: flex;
      flex-direction: column;
      padding: 0;
  }
}

.css-zea7jz0 {
  display: flex;
  width: 100vw;
  height: 20vw;
  padding-top: 60px;
  padding-bottom: 0px;
  flex-direction: column;
  gap: 30px;
  background: white;
}

@media (min-width: 820px) {
  .css-zea7jz0 {
      width: 100%;
      height: 100%;
  }
}

.css-zea7jz2 {
  display: flex;
  width: 100vw;
  padding-top: 0px;
  padding-bottom: 100px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
  background: white;
}

@media (min-width: 820px) {
  .css-zea7jz2 {
      -ms-flex-align: center;
      align-items: center;
      gap: 60px;
      padding-top: 0px;
      padding-bottom: 100px;
  }
}

.css-143hej {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

@media (min-width: 820px) {
  .css-143hej {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      gap: 24px;
      max-width: 1152px;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center;
  }
}

.css-bcb9a9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 16px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-end;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  gap: 10px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #E4EBF0;
  background: #FFFFFF;
  box-shadow: 0px 8px 24px 0px rgba(129, 137, 143, 0.12);
}

@media (min-width: 820px) {
  .css-bcb9a9 {
      width: 348px;
      height: 418px;
      gap: 12px;
      padding: 28px;
      border-radius: 10px;
  }

  .css-bcb9a9:hover {
      transform: translateY(-8px);
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
  }
}

.css-197aby8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  gap: 10px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

@media (min-width: 820px) {
  .css-197aby8 {
      gap: 12px;
  }
}

.css-18zxnkv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2px 6px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #F5B200;
}

.css-187mfrw {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.css-1r2nemk {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #141617;
  color: #000;
}

@media (min-width: 820px) {
  .css-1r2nemk {
      font-family: Pretendard;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 34px;
      color: #141617;
  }
}

.css-12j2poz {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #141617;
  color: #9DA7AE;
  white-space: pre-wrap;
  text-align: left;
}

@media (min-width: 820px) {
  .css-12j2poz {
      font-family: Pretendard;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      color: #141617;
      color: #9DA7AE;
  }
}

.css-1522xt9 {
  width: 100px;
  height: 100px;
  text-align: center;
}

@media (min-width: 820px) {
  .css-1522xt9 {
      width: 80px;
      height: 80px;
  }
}

.css-crc739 {
  display: flex;
  padding: 2px 6px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #57B094;
}

.css-zea7jz {
  display: flex;
  width: 100vw;
  padding-top: 60px;
  padding-bottom: 0px;
  flex-direction: column;
  gap: 30px;
  background: white;
}

@media (min-width: 820px) {
  .css-zea7jz {
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 60px;
      margin-top: 50px;
      padding-top: 50px;
      padding-bottom: 30px;
  }
}

.ContentSearch_container__RFyCa {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-32);
}

.SectionTitle_container__PcXfF.SectionTitle_center__bSviY {
  align-items: center;
  text-align: center;
}

.SectionTitle_container__PcXfF {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  word-break: keep-all;
}


* Fallback variables updated with new color requirements */
:root {
  --border-inner: #0000FF; /* Blue for inner border */
  --border-outer: #ADD8E6; /* Light Blue for outer border */
  --background-inner: #FFFFFF; /* White for inner background */
}

.ContentSearch_container__RFyCa {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-32);
}

/* Ensuring custom font is applied across all input types */
button, input, textarea {
  font-family: 'SpoqaHanSansNeo', 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
}

.SectionTitle_button__vZ_Mf:empty {
  display: none;
}

.SectionTitle_button__vZ_Mf.SectionTitle_size-48__RYzIo,
.SectionTitle_button__vZ_Mf.SectionTitle_size-68__B3JEs,
.SectionTitle_button__vZ_Mf.SectionTitle_size-82__UtCjt {
  margin-top: var(--spacing-32);
}

.SectionTitle_button__vZ_Mf {
  margin-top: var(--spacing-24);
}


@media (min-width: 48em) and (max-width: 75em) {
  .Icon_container__KMOfZ.Icon_m-large__BQ2ze {
    --size: 2.4rem;
  }
}

.Icon_container__KMOfZ {
  color: rgb(82, 29, 112);
  display: inline-block;
  position: relative;
  line-height: 0;
}

.ContentSearch_searchWrapper__3xeqG {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 50rem;
  height: 7.6rem;
  padding: 0; /* Adjusted for direct child input styling */
  border: 0.6rem solid var(rgb(84, 29, 112)); /* Light Blue outer border */
  border-radius: 8.4rem;
  background: transparent; /* Ensuring background doesn't interfere with outer border */
  z-index: 10;
}

.ContentSearch_searchInput__dVET9 {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  width: calc(100% - 2.4rem); /* Adjusting width to fit within the wrapper */
  height: 6.4rem; /* Adjusting height to fit within the wrapper */
  padding: 1.7rem 2rem;
  gap: 1.5rem;
  font-size: 2.4rem;
  border: 0.2rem solid var(--border-inner); /* Blue inner border */
  border-radius: 8.5rem;
  background: white; /* White inner background */
  color: red; /* Text color */
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 색상과 크기 설정 */
}

.Icon_container__KMOfZ + .ContentSearch_searchInput__dVET9 {
  flex-grow: 1;
  color: rgb(84, 29, 112); /* 아이콘 색상 변경 */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 색상과 크기 설정 */
  margin-right: 1.5rem; /* Adding space between icon and input field */
}

.Icon_container__KMOfZ svg {
  width: 4rem; /* 아이콘의 너비를 3.2rem으로 조정합니다. */
  height: 4rem; /* 아이콘의 높이를 3.2rem으로 조정합니다. */
  transition: all .2s ease-in-out;
}

.Icon_container__KMOfZ {
  color: rgb(84, 29, 112);
  display: inline-block;
  position: relative;
  line-height: 0;
}





/* */


:lang(ko) .ContentSearch_searchInput__dVET9 {
  line-height: 3rem;
}

:lang(en) .ContentSearch_searchInput__dVET9,
:lang(ko) .ContentSearch_searchInput__dVET9 {
  font-weight: 500;
}

button:lang(ko),
input:lang(ko),
textarea:lang(ko) {
  font-family: SpoqaHanSansNeo, Apple SD Gothic Neo, Noto Sans KR, sans-serif;
}


.ContentSearch_searchInput__dVET9 {
  border: none;
  font-size: 1.8rem;
  color: var(--gray80);
  caret-color: var(--gray80);
  width: 100%;
}








.css-194lkm4 {
  display: block;
  padding: 32px 0px 0px;
  border: 1px solid rgb(215, 224, 230);
  border-radius: 10px;
  position: absolute;
  top: calc(40px);
  right: -151px;
  background-color: white;
  opacity: 1;
  visibility: visible;
  z-index: 1000;
  width: 282px;
  transform: translateX(-50%);
  box-shadow: rgba(95, 102, 107, 0.12) 0px 8px 24px;
  font-family: Pretendard;
  overflow: scroll;
  scrollbar-width: none;
}

.css-194lkm4::before {
  border-color: rgb(215, 224, 230) transparent;
  border-style: solid;
  border-width: 0px 6px 8px 6.5px;
  content: "";
  display: block;
  right: 5%;
  position: absolute;
  top: -8px;
  width: 0px;
  z-index: 0;
}

.css-194lkm4::after {
  border-color: rgb(255, 255, 255) transparent;
  border-style: solid;
  border-width: 0px 6px 8px 6.5px;
  content: "";
  display: block;
  right: 5%;
  position: absolute;
  top: -7px;
  width: 0px;
  z-index: 1;
}

@media (min-width: 820px) {
  .css-17uj2d3 {
    height: 18px;
  }
}

@media (min-width: 768px) {
  .css-fazohs {
    height: 0;
  }
}

.css-fazohs {
  background: linear-gradient(90deg, #fff6dd 0%, #fff1f4 100%);
  margin-top: -1px;
  white-space: nowrap;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
  position: relative;
  z-index: 0;
  min-width: 360px;
}

@media (min-width: 768px) {
  .css-1klcaje {
    padding: 16px;
    max-width: 1184px;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.css-1klcaje {
  height: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  color: white;
}

.css-17uj2d3 {
  display: flex;
  padding: 1px 4px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  background: white;
  color: white;
  cursor: pointer;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.css-3u8r53 {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.5;
  color: white;
}

@media (min-width: 768px) {
  .css-3u8r53 {
    font-size: 16px;
    gap: 6px;
  }
}

@media (min-width: 768px) {
  .css-1hkxqrx {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 16px;
  }
}

.css-1hkxqrx {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .css-5oxg9r {
    padding: 2px 12px;
  }
}

.css-5oxg9r {
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

@media (min-width: 768px) {
  .css-1u9hu8i {
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: #141617;
    color: #3A3E41;
  }
}

.css-1u9hu8i {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Pretendard;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #141617;
  color: #3A3E41;
}

@media (min-width: 768px) {
  .css-1hd57dg {
    padding: auto 0 auto undefined;
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    -webkit-justify-content: right;
    justify-content: right;
  }
}

.css-1hd57dg {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 0;
}

.css-nbvgys {
  height: 102px;
  white-space: initial;
  content: " ";
  opacity: 0;
  flex: 0 0 102px;
  -webkit-box-flex: 0;
}

.css-16z0wya {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 820px) {
  .css-ppdf1p {
    display: inline-flex;
    padding-bottom: 100px;
    -ms-flex-align: center;
    gap: 100px;
    width: 100vw;
  }
}

.css-ppdf1p {
  flex-direction: column;
}

.css-p22c6q {
  position: relative;
  height: fit-content;
  background-color: white;
  width: 100%;
}

@media (min-width: 820px) {
  .css-1bj2jr5 {
    padding-top: 234px;
  }
}

.css-1bj2jr5 {
  display: flex;
  width: 100%;
  padding-top: 88px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 0;
}

@media (min-width: 820px) {
  .css-130d6tq {
    height: 136.214px;
  }
}

.css-130d6tq {
  width: 100%;
  height: 48px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  z-index: 1;
}

@media (min-width: 820px) {
  .css-gme0ob {
    padding: 108px 24px 0;
  }
}

.css-gme0ob {
  padding: 32px 16px 0;
  position: relative;
}

@media (min-width: 820px) {
  .css-1mzwlld {
    gap: 88px;
  }
}


.css-1mzwlld {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (min-width: 820px) and (max-width: 1023px) {
  .css-1slt03f {
    gap: 16px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: flex-start;
    align-self: flex-start;
  }
}

.css-1slt03f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  z-index: 2;
}

.css-1bku0gi {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (min-width: 820px) {
  .css-1dr1vfe {
    height: 59px;
  }
}

.css-1dr1vfe {
  height: 28px;
}

.css-tp2tac {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  height: 56px;
}

.css-vhme28 {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 56px;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out 0s;
}

.css-12cqpub {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 56px;
  transform: translateY(-300%);
  transition: transform 0.3s ease-in-out
}

.css-1aokzse {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 56px;
  transform: translateY(0%);
  transition: transform 0.3s ease-in-out 0s;
}

.css-gbr1j8 {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 56px;
  transform: translateY(-400%);
  transition: transform 0.3s ease-in-out 0s;
}

.css-1cvbm22 {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 56px;
  transform: translateY(-200%);
  transition: transform 0.3s ease-in-out 0s;
}

@media (min-width: 820px) {
  .css-16wypob {
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: rgb(20, 22, 23);
  }
}

@media (min-width: 820px) {
  .css-mm6ge2 {
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #141617;
  }
}

.css-mm6ge2 {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #141617;
  color: #141617;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #E8344E !important;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px;
}