apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler 

metadata: 
  name: main-hpa 

spec: 
  scaleTargetRef: 
    apiVersion: apps/v1 
    kind: Deployment
    name: main-deployment 
  minReplicas: 2
  maxReplicas: 4 
  metrics: 
    - type: Resource 
      resource: 
        name: cpu 
        target: 
          type: Utilization 
          averageUtilization: 50 
    - type: Resource 
      resource: 
        name: memory 
        target: 
          type: Utilization 
          averageUtilization: 50 