apiVersion: autoscaling/v2beta2 
kind: HorizontalPodAutoscaler 
metadata: 
  name: frontend-hpa 
spec: 
  scaleTargetRef: 
    apiVersion: apps/v1 
    kind: Deployment 
    name: frontend-deployment 
  minReplicas: 2 
  maxReplicas: 4 
  metrics: 
    - type: Resource 
      resource: 
        name: cpu 
        target: 
          type: Utilization 
          averageUtilization: 50
    - type: Resource 
      resource: 
        name: memory 
        target: 
          type: Utilization 
          averageUtilization: 50 