body,
html {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: "Noto Sans", sans-serif; /* 폰트 변경 */
}

body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-size: 1.4rem;
  box-sizing: border-box;
}

* {
  line-height: 1.5;
  box-sizing: border-box;
  letter-spacing: normal;
}

* {
  margin: 0;
  line-height: 1.5;
}

.css-1gpya5f {
  overflow-y: auto; /* 세로 스크롤을 자동으로 표시하도록 설정 */
  z-index: 22;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(20, 22, 23, 0.4);
  scrollbar-width: none;
}

.css-4oebd2 {
  width: 600px;
  height: 800px;
  padding: 0px 20px 40px;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-x: auto; /* 스크롤바 자동 생성 */
}

.css-1n1k95p {
  width: 100%;
  height: 38px;
  position: relative;
  flex-shrink: 0;
}

.css-myjkxi {
  position: absolute;
  top: 18px;
  right: 0px;
  font-family: Pretendard;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 26px;
  color: rgb(58, 62, 65);
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.css-1xpr18p {
  width: 550px;
  overflow: hidden;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

/* 추가한 CSS 스타일 */
.guide-images {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 왼쪽 정렬 추가 */
  margin-top: 20px;
}

.guide-image {
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 30px;
  text-align: left; /* 왼쪽 정렬 추가 */
}

.guide-image-0 {
  margin-bottom: 30px;
  margin-left: 120px;
  text-align: center; /* 왼쪽 정렬 추가 */
}

.guide-image-0 p {
  font-weight: bold; /* 굵은 글꼴 추가 */
  margin: 0; /* 문장의 기본 margin 제거 */
  font-size: 24px;
}

.guide-image img {
  width: 600px; /* 가로 크기 지정 */
  height: 160px; /* 세로 크기 지정 */
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #000; /* 테두리 추가 */
  border-radius: 8px; /* 테두리의 모서리를 둥글게 만듭니다. */
}

.guide-image p {
  font-weight: bold; /* 굵은 글꼴 추가 */
  margin: 0; /* 문장의 기본 margin 제거 */
  font-size: 18px;
}

.guide-image-1 {
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 30px;
  text-align: left; /* 왼쪽 정렬 추가 */
}

.guide-image-1 p {
  font-weight: bold; /* 굵은 글꼴 추가 */
  margin: 0; /* 문장의 기본 margin 제거 */
  font-size: 18px;
}

.guide-image-1 img {
  width: 500px; /* 가로 크기 지정 */
  height: 80px; /* 세로 크기 지정 */
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #000; /* 테두리 추가 */
  border-radius: 8px; /* 테두리의 모서리를 둥글게 만듭니다. */
}

.guide-image-2 {
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 30px;
  text-align: left; /* 왼쪽 정렬 추가 */
  font-size: 18px;
}

.guide-image-2 p {
  font-weight: bold; /* 굵은 글꼴 추가 */
  margin: 0; /* 문장의 기본 margin 제거 */
}

.guide-image-2 img {
  width: 500px; /* 가로 크기 지정 */
  height: 110px; /* 세로 크기 지정 */
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #000; /* 테두리 추가 */
  border-radius: 8px; /* 테두리의 모서리를 둥글게 만듭니다. */
}

.guide-image-3 {
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 30px;
  text-align: left; /* 왼쪽 정렬 추가 */
}

.guide-image-3 p {
  font-weight: bold; /* 굵은 글꼴 추가 */
  margin: 0; /* 문장의 기본 margin 제거 */
  font-size: 18px;
}

.guide-image-3 img {
  width: 500px; /* 가로 크기 지정 */
  height: 160px; /* 세로 크기 지정 */
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #000; /* 테두리 추가 */
  border-radius: 8px; /* 테두리의 모서리를 둥글게 만듭니다. */
}
