* {
    margin: 0;
    padding: 0;
}

#wrap {
    width: 800px;
    _height: 618px;
    min-height: 618px;
    margin: 0 auto;
    background: url(@/assets/img/icon_trans.png) no-repeat 100% 109px;
    background-size: 20%;
    background-position: 500px 250px;
    text-align: left;
}

#header {
    overflow: hidden;
    position: relative;
    height: 150px;
}

#header h1 {
    margin: 36px 0 0 26px;
}

a {
    color: rgb(84, 29, 112);
    text-decoration: underline;
}

a {
    cursor: pointer;
}

img, fieldset {
    border: none;
}

#header .menu {
    overflow: hidden;
    position: absolute;
    top: 23px;
    right: 28px;
    width: 100%;
    color: #d7d7d7;
    letter-spacing: 0px;
    text-align: right;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgb(28, 29, 30);
}

#header .menu a {
    margin: 0 3px;
    color: #444;
    text-decoration: none;
}

#container {
    padding: 75px 20px 0 81px;
}

#container h2 {
    margin-bottom: 24px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -1px;
}

#container .content p {
    margin-bottom: 10px;
}

#footer {
    margin-top: 80px;
    text-align: center;
}

#footer address {
    font: 9px / 14px Verdana;
}

#footer address a {
    font: bold 9px Tahoma;
    color: #333;
}

#footer a:visited {
    text-decoration: none;
    color: #666;
}

#footer address .logo {
    display: inline-block;
    vertical-align: top;
}

#footer address em {
    padding-left: 6px;
    font: 9px verdana;
}

#footer address span {
    padding-left: 2px;
    font: 9px / 14px Verdana;
}