button {
  border: 0px;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
  vertical-align: middle;
  outline: none;
  appearance: none;
}

.quickmenu {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 100;
}

.quickmenuback {
  display: inline-flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.quickmenu .inner-quickmenu {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.quickmenu .inner-quickmenu .btn {
  margin-top: 6px;
  transition: all 0.3s ease 0s;
}

.quickmenu .inner-quickmenu .btn.btn-top.active {
  margin-bottom: 0px;
  opacity: 1;
  visibility: visible;
}

.quickmenu .up-icon {
  width: 42px;
  height: 42px;
}

.quickmenu .inner-quickmenu .btn.btn-bottom.active {
  margin-top: 6px;
  opacity: 1;
  visibility: visible;
}

.quickmenu .down-icon {
  width: 42px;
  height: 42px;
}