:root {
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3498db;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --toastify-color-transparent: hsla(0, 0%, 100%, 0.7);
    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);
    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;
    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;
    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;
    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;
    --toastify-color-progress-light: linear-gradient(90deg, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error)
}

._1Bbxo._1Bbxo {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: unset;
    max-width: 35rem
}

@media only screen and (max-width:991px) {
    ._1Bbxo._1Bbxo {
        width: 100%;
        max-width: 35rem
    }
}

@media only screen and (max-width:480px) {
    ._1Bbxo._1Bbxo {
        margin: unset;
        padding: 1rem
    }
}

._2kpZbi {
    padding-top: 8rem;
    padding-bottom: 5rem;
    background: var(--white);
}

*,
::after,
::before {
    box-sizing: border-box;
}

div {
    display: block;
}

._1etXfM {
    padding-bottom: 0;
    background-color: var(--white);
}

.TkhYW1 {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    padding-bottom: 5rem;
}

@media (min-width: 992px) {
    .container-lg {
        max-width: 940px;
    }
}

.container-lg {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}

element.style {
    --box-gap: 2rem;
}

._17fGk0 {
    flex-direction: row;
}

._1anRgx {
    display: flex;
    gap: var(--box-gap);
}

element.style {
    --box-gap: 2rem;
}

._17fGk0 {
    flex-direction: row;
}

._2zXJMj>section {
    min-width: 0;
}

.bs_2vg {
    width: 19.9rem;
}

._2EZ57H {
    position: sticky;
    top: 1.5rem;
}


._3ZcrIA {
    white-space: pre;
    word-break: keep-all;
}


._2-sdMj {
    margin-top: 1.25rem;
}

._1isiv,
.ODppI {
    grid-gap: var(--spacer-sm);
    gap: var(--spacer-sm);
}

._2pYHs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    pointer-events: none;
}

._1vN1F {
    width: 1.25rem;
    height: 1.25rem;
}

._1CkmD {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}


._2pYHs {
    pointer-events: none;
}

._2zXJMj>section {
    min-width: 0;
}

._2d5D_m {
    flex-direction: row;
}

._2kqp41 {
    display: flex;
    flex-direction: column;
    gap: var(--box-gap);
    min-width: 0;
}

.btn-xl._3Jflz {
    width: 3.25rem;
}

.btn-primary {
    color: var(--white);
    background-color: rgba(84, 29, 112);
    border-color: transparent;
}

.text-blue-500 {
    color: rgba(84, 29, 112) !important;
}

._1isiv,
.ODppI {
    grid-gap: var(--spacer-sm);
    gap: var(--spacer-sm);
}

._2pYHs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    pointer-events: none;
}

._1S27j {
    width: 1.5rem;
    height: 1.5rem;
}

._1CkmD {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}


._1YCmw {
    position: relative;
    display: flex;
    align-items: center;
}

._1LD4c {
    padding-left: 1.5rem;
    padding-right: 4rem;
}

.FMUyj {
    padding-left: 4rem;
}

._2vGEB {
    right: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.A-RPq {
    position: absolute;
    cursor: pointer;
    color: var(--gray-600);
    width: 1rem;
    height: 1rem;
}

._1isiv,
.ODppI {
    grid-gap: var(--spacer-sm);
    gap: var(--spacer-sm);
}

._2pYHs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    pointer-events: none;
}

._2d5D_m {
    flex-direction: row;
}

._1rMfp {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

._2-Js2 {
    margin-left: var(--spacer-xs, 0.25rem);
    display: inline-block;
    transition: transform .3s, -webkit-transform .3s;
}

._20WMwO {
    min-width: unset;
}

._1PTI0R {
    list-style: none;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

._1PTI0R {
    list-style: none;
}

div {
    display: block;
}

._1PTI0R {
    list-style: none;
}

._32Ay9Q {
    cursor: pointer;
}


._32Ay9Q {
    cursor: pointer;
}



._32Ay9Q {
    cursor: pointer;
}


li {
    text-align: -webkit-match-parent;
}

._3yzn7O {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    font-size: 1.125rem;
    color: var(--gray-900);
}

._32Ay9Q {
    cursor: pointer;
}

._3lQ639 {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 1.5rem 0;
    list-style: none;
}

.Dhz06G {
    gap: 0.25rem;
}

._2U1dPx {
    min-width: 0;
}

._3cKvl {
    padding: 0;
    margin-bottom: 0;
}

.iFcHCl {
    flex-grow: 1;
    min-width: 0;
    max-width: fit-content;
}

._2amVj {
    font-size: .875rem;
    line-height: 1.375rem;
}

._2amVj {
    font-size: .875rem;
    line-height: 1.375rem;
}

.iFcHCl {
    flex-grow: 1;
    min-width: 0;
}

._2amVj {
    font-size: .875rem;
    line-height: 1.375rem;
}

._1OTYG+._1OTYG:before {
    width: 1rem;
    height: 1rem;
    transform: none;
}

._1t2_hP {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._2amVj {
    font-size: .875rem;
    line-height: 1.375rem;
}

._285DO {
    cursor: pointer;
}

.Dhz06G {
    gap: 0.25rem;
}

._1VYQb4 {
    margin-bottom: 0px;
}

._2Hgkt3 {
    align-items: center;
    justify-content: center;
    width: 2.25rem;
    height: 2.25rem;
    background: rgba(0, 0, 0, 0);
    border: 0;
    color: #525463;
}

._22s-QT {
    gap: var(--spacer-xs);
}

._1VWGjy {
    gap: var(--spacer-sm);
}

.Dhz06G {
    gap: 0.25rem;
}

.align-items-center {
    align-items: center !important;
}

.h6, .text-button-lg, h6 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: -.006rem;
}


svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

._1VYQb4 li+li {
    margin-left: 0.25rem;
}

._1VYQb4 .active .page-link {
    background: rgba(80, 148, 250, .24);
}

._1VYQb4 {
    margin-bottom: 0px;
}

._2zXJMj>section {
    min-width: 0;
}

._17fGk0 {
    flex-direction: row;
}


@media (min-width: 992px) {
    .container-lg {
        max-width: 940px;
    }
}

.container-lg {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}


._3ZcrIA {
    white-space: pre;
    word-break: keep-all;
}

._2-sdMj {
    margin-top: 1.25rem;
}

._1isiv,
.ODppI {
    grid-gap: var(--spacer-sm);
    gap: var(--spacer-sm);
}

._2pYHs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    pointer-events: none;
}

._1vN1F {
    width: 1.25rem;
    height: 1.25rem;
}

._1CkmD {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}